---
import "./style.scss";
---

<section class="money" data-section="section">
  <div class="money__wrapper">
   
    <p class="money__text">
   Establish a secure environment with KYCAID's thorough verification, incorporating optional liveness checks. KYCAID scrutinizes activities, identifies duplicates, and employs behavioral risk scoring to prevent advanced fraud attacks.
    </p>
  </div>
</section>
