@use "@styles/vars";

.money {
  padding-top: 86px;
  padding-bottom: 86px;
  background: white;
  overflow: hidden;
  &__wrapper {
    position: relative;
    padding-right: 24px;
    padding-left: 24px;
    &::after {
      content: url("./ellipse.svg");
      position: absolute;
      top: -173px;
      right: 72px;
    }
  }

  &__text {
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 32px;
    font-family: "Anek Bangla Variable", sans-serif;
    font-size: clamp(28px, 2.3vw, 32px);
    line-height: 1.2;
    // color: #fdfdfd;
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .money {
    &__title {
      max-width: 1000px;
      margin: 0 auto;
    }
    &__text {
      font-size: 44px;
      max-width: 1000px;
      margin: 0 auto;
      margin-top: 32px;
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .money {
    padding-top: 200px;
    padding-bottom: 200px;
    &__wrapper {
      max-width: 1238px;
      margin: 0 auto;

      &::after {
        position: absolute;
        top: -240px;
        left: 80px;
      }
    }
    &__text {
      line-height: 1.3;
    }
  }
}
