---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";

interface Props {
  mobileImgUrl: string | ImageMetadata;
  desktopImgUrl: string | ImageMetadata;
  alt: string;
}

const { mobileImgUrl, desktopImgUrl, alt } = Astro.props;

const mobileImg = await getImage({
  src: mobileImgUrl,
  format: "webp",

  //   width: 200,
  //   height: 200,
});

const desktopImg = await getImage({
  src: desktopImgUrl,
  format: "webp",

  //   width: 800,
  //   height: 200,
});
---

<picture>
  <source media="(max-width: 431px)" srcset={mobileImg.src} />

  <img src={desktopImg.src} alt={alt} />
</picture>
