---
import "@styles/modal/_contact-success.scss";
---

<div class="modal-success is-hidden-success" data-modal-success>
  <svg
          class="modal-success__icon"
          width="39"
          height="40"
          viewBox="0 0 39 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M19.5 0.5C8.74781 0.5 0 9.24781 0 20C0 30.7522 8.74781 39.5 19.5 39.5C30.2522 39.5 39 30.7522 39 20C39 9.24781 30.2522 0.5 19.5 0.5ZM29.6484 13.4647L17.0484 28.4647C16.9102 28.6293 16.7382 28.7623 16.5441 28.8547C16.35 28.947 16.1384 28.9966 15.9234 29H15.8981C15.6879 28.9999 15.48 28.9557 15.288 28.8701C15.0959 28.7845 14.924 28.6594 14.7834 28.5031L9.38344 22.5031C9.2463 22.3577 9.13962 22.1863 9.06966 21.999C8.99971 21.8117 8.9679 21.6123 8.9761 21.4126C8.9843 21.2129 9.03234 21.0168 9.11741 20.8359C9.20247 20.6549 9.32284 20.4929 9.47144 20.3591C9.62004 20.2254 9.79387 20.1227 9.98272 20.0571C10.1716 19.9916 10.3716 19.9644 10.5711 19.9772C10.7706 19.99 10.9655 20.0426 11.1444 20.1319C11.3233 20.2211 11.4826 20.3452 11.6128 20.4969L15.8588 25.2144L27.3516 11.5353C27.6094 11.2373 27.9741 11.0526 28.3669 11.0213C28.7597 10.99 29.1491 11.1146 29.4509 11.368C29.7526 11.6215 29.9425 11.9835 29.9795 12.3759C30.0164 12.7682 29.8975 13.1593 29.6484 13.4647Z"
            fill="url(#paint0_linear_10634_48375)"
    />
    <defs>
      <linearGradient
              id="paint0_linear_10634_48375"
              x1="19.5"
              y1="39.5"
              x2="19.5"
              y2="0.499998"
              gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#0066FF"/>
        <stop offset="1" stop-color="#C8DEFF"/>
      </linearGradient>
    </defs>
  </svg>
  <h2 class="modal-success__title">Message sent successfully</h2>
  <p class="modal-success__text">Please wait for a response from our manager</p>
</div>
