<section data-section="section" class="government-checks">
  <div class="government-checks__container container">
    <div class="government-checks__gradient-wrapper">
      <div class="government-checks__wrapper">
        <div class="horizontal-animation"></div>
        <div class="horizontal-animation horizontal-animation--slow"></div>
        <div class="horizontal-animation horizontal-animation--fast"></div>
        <div class="vertical-animation"></div>
        <div class="vertical-animation vertical-animation--slow"></div>
        <div class="vertical-animation vertical-animation--fast"></div>
        <div class="government-checks__lottie-animation" id="lottie-animation">
        </div>
        <div class="government-checks__description">
          <h2 class="government-checks__title title--subtitle">
            Government checks
          </h2>
          <p class="government-checks__text">
            Verify with just an ID or Personal number, or through a tap on a
            bank or government app. Already available in 5 countries, including
            the Brazil, Mexico, Kazakhstan with more coming soon.
          </p>
          <a href="#" class="government-checks__link link-btn-primary">
            <span class="link-title"> Try our solution</span>
            <svg class="link-icon icon-arrow-east" width="18" height="18">
              <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
