<section data-section="section" class="provider">
  <div class="provider__container container">
    <div class="provider__description">
      <h2 class="provider__title title--subtitle">
        Elevate trust and security<br />with approved KYC provider
      </h2>
      <p class="provider__text">
        Discover peace of mind with KYCAID, your approved KYC provider. Our
        robust verification processes comply with industry standards and
        regulations, ensuring airtight security. Streamline onboarding and gain
        trust with our efficient, reliable, and seamless KYC solutions. Join the
        future of safe and credible customer interactions.
      </p>
    </div>
    <div class="provider__diagram">
      <img
        class="provider__image"
        src="/assets/provider/diagrama@1x.png"
        srcset="
          /assets/provider/diagrama@1x.webp 1x,
          /assets/provider/diagrama@2x.webp 2x,
          /assets/provider/diagrama@2x.png 2x
          "
        alt="diagrama"
        width="343"
        height="320"
      />
    </div>
  </div>
</section>
