<section data-section="section" class="api container">
  <div class="section flex--col">
    <div class="api__header flex--col">
      <h2 class="title--subtitle color--white">
        Simplified Integration of KYC Authentication API
      </h2>
      <p class="text color--gray">
        KYCAID’s platform offers European ID methods in a single integration
        point. There are 3 integration ways: using the Open ID Connect (OIDC)
        standard, SAML 2.0 and our REST API.
      </p>
    </div>
    <button class="link-btn-primary">
      Try our solutions<svg
        class="link-icon icon-arrow-east"
        width="18"
        height="18"
      >
        <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
      </svg>
    </button>
    <div class="api__editor flex--col">
      <ul class="api__list flex--row">
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
      </ul>

      <div class="api__table color--white">
        <table>
          <tr>
            <td class="color--gray-2">1</td>
            <td></td>
          </tr>
          <tr>
            <td class="color--gray-2">2</td>
            <td>
              <span class="color--accent">"applicant_id"</span>: 'applicant_id',
            </td>
          </tr>
          <tr>
            <td class="color--gray-2">3</td>
            <td>"type": "PERSON",</td>
          </tr>
          <tr>
            <td class="color--gray-2">4</td>
            <td><span class="color--accent">"first_name"</span>: "John",</td>
          </tr>
          <tr>
            <td class="color--gray-2">5</td>
            <td><span class="color--accent"> "middle_name"</span>: null,</td>
          </tr>
          <tr>
            <td class="color--gray-2">6</td>
            <td><span class="color--accent"> "last_name"</span>: "Doe",</td>
          </tr>
          <tr>
            <td class="color--gray-2">7</td>
            <td><span class="color--accent"> "dob"</span>: "1970-10-25",</td>
          </tr>
          <tr>
            <td class="color--gray-2">8</td>
            <td>
              <span class="color--accent"> "residence_country"</span>: "GB",
            </td>
          </tr>
          <tr>
            <td class="color--gray-2">9</td>
            <td><span class="color--accent"> "gender"</span>: null,</td>
          </tr>
          <tr>
            <td class="color--gray-2">10</td>
            <td>
              <span class="color--accent"> "email"</span>: "john.doe@mail.com",
            </td>
          </tr>
          <tr>
            <td class="color--gray-2">11</td>
            <td><span class="color--accent"> "phone"</span>: null,</td>
          </tr>
          <tr>
            <td class="color--gray-2">12</td>
            <td><span class="color--accent"> "pep"</span>: null,</td>
          </tr>
          <tr>
            <td class="color--gray-2">13</td>
            <td><span class="color--accent">"profile_status"</span>: false,</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
