---
import "./style.scss";
---

<li class="solutions__item advantages">
  <h3 class="advantages__title">
    Quality<span class="advantages__emoji">😎</span>
  </h3>
  <p class="advantages__text">
    Our in-house compliance system and expert legal professionals ensure
    exceptional outcomes.
  </p>
</li>
