@use "../vars";
@import "@splidejs/splide/css/core";

.products {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
  }

  &__title {
    align-self: flex-start;
  }

  &__text {
    max-width: 922px;
  }

  &__btn-list {
    padding-left: 16px !important;
    margin-right: 20px !important;
  }

  &__button-wrapper {
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  &__button {
    padding: 12px 8px;
    width: 100%;
    height: auto;

    font-family: vars.$font-family-title;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    color: #595d62;

    border-radius: 8px;
    border: 1px solid #e5e6e6;
    background-color: #fff;

    transition-property: color, background-color, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:is(:hover) {
      color: vars.$cta-color;
      background-color: #f5f7ff;
    }
  }

  &__splide {
    width: 100%;
  }

  &__card-list {
    padding-left: 16px !important;
    padding-right: 16px !important;
    max-width: 1248px;
    margin: 0 auto !important;
  }

  &__card {
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    align-self: stretch;

    border-radius: 24px;
    border: 2px solid #e5e6e6;
    background: #fdfdfd;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__description-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }

  &__description-item {
    display: flex;
    align-items: center;
    flex-basis: calc((100% - 16px) / 2);
    gap: 16px;
  }

  &__lottie {
    max-width: 300px;
    max-height: 181.8px;
    margin: 0 auto;
    flex-shrink: 0;
  }
}

.is-active {
  & > .products__button {
    color: vars.$cta-color;
    background-color: #f5f7ff;
    border-color: vars.$cta-color;
  }
}

@media screen and (min-width: 554px) {
  .products {
    &__title {
      align-self: center;
    }

    &__text {
      text-align: center;
    }

    &__btn-list {
      padding-left: 0 !important;
      margin-right: 0 !important;
      justify-content: center;
    }
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .products {
    &__card {
      flex-direction: row-reverse;
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .products {
    &__content {
      gap: 32px;
    }

    &__button {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .products {
    &__card-list {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    &__card {
      padding: 48px;
    }

    &__description-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 32px;
    }

    &__description-item {
      flex-basis: calc((100% - (32px * 3)) / 4);
    }
  }
}
