@use "../vars";

.use-cases {
  padding-top: 32px;
  padding-bottom: 32px;
  &.section {
  }

  &__list {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__item {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 16px;

    border-radius: 24px;
    border: 2px solid #e5e6e6;
    background: #fdfdfd;
  }

  &__list-color {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    & li:first-child {
      border-radius: 24px;
      border: 2px solid transparent;
      background-color: #8db3fe;
      backdrop-filter: blur(10px);

      transition-property: border-color, background-color;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;

      &:hover {
        border-color: #06f;
        background-color: #afcaff;
      }
    }
    & li:last-child {
      border-radius: 24px;
      border: 2px solid transparent;
      background: #d6feb7;
      backdrop-filter: blur(10px);

      transition-property: border-color, background-color;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;

      &:hover {
        border-color: #d2fa57;
        background-color: #ebffda;
      }
    }
  }

  &__item-color {
    color: vars.$color--black;
  }
}

.card {
  &__icon-wrapper {
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
    background: rgba(0, 102, 255, 0.15);

    & > .icon-crypto {
      margin: 4px;
    }
  }
  &__icon {
    fill: vars.$cta-color;
  }
}

.card-related {
  &__link {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__subtitle {
    padding: 4px 8px;
    align-self: flex-start;
    border-radius: 24px;
    background: #fff;
  }

  &__icon-wrapper {
    width: 56px;
    height: 56px;
    padding: 11px 11.029px 11.059px 11.029px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 24px;
    border: 1px solid vars.$color--black;
    background: #d2fa57;
  }
}

@media screen and (min-width: vars.$screen-mob) {
  // .card-related {
  //   &:first-child &__description {
  //     max-width: 421px;
  //   }
  // }
}

@media screen and (min-width: vars.$screen-tab) {
  .use-cases {
    padding-top: min(7.8vw, 112px);

    &__title {
      text-align: center;
    }
    &__item {
      flex-basis: calc((100% - 16px) / 2);
      justify-content: start;
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .use-cases {
    &__item {
      flex-basis: calc((100% - (16px * 2)) / 3);
    }

    &__list-color {
      flex-direction: row;
    }

    &__item-color {
      flex-basis: 50%;
      align-items: start;
    }
  }

  .card-related {
    &__link {
      padding: 32px;
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .use-cases {
    &__list {
      margin-top: 56px;
      gap: 24px;
    }
    &__item {
      padding: 32px;
      flex-basis: calc((100% - (24px * 2)) / 3);
    }

    &__list-color {
      margin-top: 24px;
    }
  }
}
