---
const { img, alt, title, subTitle, step } = Astro.props;
import { Image } from "astro:assets";
import "./style.scss";
import Step from "@components/ui/Step.astro";
---

<li class="splide__slide card__item">
  <div class="card__item--card">
    <Image src={img} alt={alt} />
  </div>
  <div>
    <Step step={step} />
    <p class="text" set:text={subTitle}>
      <span class="card__item--text" set:text={title} />
    </p>
  </div>
</li>
