@media screen and (max-width: 1440px) {
  @import "@splidejs/splide/css/core";
}

.card {
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    max-width: 294px;
    padding: 24px;

    background-color: #fdfdfd;
    border: 1px solid #98a5b2;
    border-radius: 24px;
    .text {
      margin-top: 16px;
      font-weight: 600;
      font-size: 18px;
      color: #111111;
    }
    &--card {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  .card {
    &__item {
      &--card {
        margin: 0 auto;
      }
    }
  }
}
