---
import "./style.scss";
import { Image } from "astro:assets";
import flags from "./elevateTrust_@2x.png";
---

<section class="checks section" data-section="section">
  <div class="checks__container container">
    <Image
      class="image"
      src={flags}
      alt="Trusted countries"
      width={546}
      height={529}
    />
    <div class="checks__description">
      <h2 class="checks__title title__h2--m">
        Elevate trust and security<br />with approved KYC provider
      </h2>
      <p class="checks__text">
        With our advanced technology, applicants can easily verify their
        identification numbers by either submitting a document or entering it
        for verification against the government's database.
      </p>
      <ul class="list">
        <li class="item">
          We ensure the accuracy of the verification process by obtaining
          personal details directly from government sources.
        </li>
        <li class="item">
          Our streamlined process saves time and reduces the risk of document
          forgery and fraud.
        </li>
        <li class="item">
          Whether you're an individual or an organization, our identity
          verification services provide a secure and seamless experience that
          meets international regulations.
        </li>
      </ul>
    </div>
  </div>
</section>
