@use "@styles/vars";

.checks {
  .image {
    display: none;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__diagrama {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  &__image {
    max-width: 343px;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    &--content {
      row-gap: 16px;
    }
    .item {
      list-style-image: url("/assets/pages/id_verification/star.svg");
      margin-left: 25px;
      padding-left: 3px;
      font-size: 22px;
    }
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .checks {
    .image {
      display: block;
    }
    &__container {
      flex-direction: row;
      align-items: center;
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .checks {
    &__container {
      gap: 72px;
    }

    &__image {
      max-width: 520px;
      max-height: 520px;
    }

    &__description {
      gap: 32px;

      & p:last-child {
        margin-top: -10px;
      }
    }
  }
}
