@use "../vars";

.cookie--min {
  position: fixed;
  top: 81vh;
  left: 40px;
  gap: 10px;
  width: 660px;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid var(--Black, #111);
  background: #fff;

  .title--subtitle {
    font-size: 22px;
  }
  .text {
    font-size: 16px;
  }
  .cookie__control {
    button {
      @include vars.button;
    }
    gap: 24px;
    font-size: 16px;
  }
}

.cookie--control {
  background: var(--kycaid-main-colors-old-color-white, #fff);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 764px;
  border-radius: 24px;

  .container {
    padding: 32px;
  }
  .title--subtitle {
    font-size: 22px;
  }
  .flex--col {
    gap: 16px;
  }
  .cookie__list {
    gap: 16px;

    .title--subtitle {
      font-size: 16px;
    }
    .item {
      padding: 16px;

      .switch {
        &.flex {
          align-items: center;
        }
      }

      input[type="checkbox"] {
        position: relative;
        width: 28px;
        height: 16px;
        -webkit-appearance: none;
        outline: none;
        background: #c6c6c6;
        border-radius: 20px;
        transition: 0.5s;
      }

      input:checked[type="checkbox"] {
        background: vars.$color--accent;
      }

      input[type="checkbox"]:before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 10px;
        top: 0;
        left: 0;
        background: #fff;
        transition: 0.5s;
      }

      input:checked[type="checkbox"]:before {
        left: 12px;
      }
    }
  }
  .text {
    font-size: 13px;
    line-height: 1.2;
  }
  .item {
    border-radius: 16px;
    border: 1px solid var(--Grey, #e5e6e6);
    background: #fdfdfd;
  }
  .cookie__control {
    padding: 24px 32px;
    border-top: 1px solid var(--Grey, #e5e6e6);
    gap: 24px;
  }
  .button {
    @include vars.button;
    font-size: 16px;
  }
}
