---
const { step } = Astro.props;
---

<h3 class="color--accent card__item--step">{step} step</h3>

<style is:global>
  .card__item--step {
    font-family: "Anek Bangla Variable";
    font-weight: 600;
    width: max-content;
    height: 29;
    background-color: #f5f7ff;
    border-radius: 8px;
    border-width: 2px;
    font-size: 16px;
    border-color: #0066ff;
    border: 1px solid #0066ff;
    padding: 0 8px;
    line-height: 20.8px;
    letter-spacing: 0.1cap;
  }
</style>
