@use "../vars";

.api {
  padding-top: 32px;
  padding-bottom: 32px;
  &__wrapper {
    width: 100%;
    // gap: 24px;
    // max-width: 1248px;

    border-radius: 24px;
    background: radial-gradient(
        57.68% 57.68% at 51.04% 88.77%,
        rgba(0, 102, 255, 0.6) 0%,
        rgba(16, 16, 16, 0) 100%
      ),
      #111;

    padding-bottom: 0;
    // padding-right: 24px;
    // padding-left: 24px;
  }
  &.container {
    // padding-right: 8px;
    // padding-left: 8px;
  }
  .text {
    margin-bottom: 32px;
  }
  .link-btn-primary {
    margin-bottom: 48px;
    max-width: 187px;
    gap: 16px;
  }

  &__header {
    gap: 16px;
  }
  &__table {
    font-size: 16px;
  }
  &__editor {
    border-radius: 16px 16px 0px 0px;
    background: #242424;

    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); //? не могу найти в макете поэтому откючил
  }
  &__list {
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #646464;

    .item {
      width: 12px;
      height: 12px;
      background-color: #636363;
      border-radius: 6px;
    }
  }

  &__table {
    font-family: "DM Sans Variable", sans-serif;
    font-size: 13px;
    height: 170px;
    overflow: hidden;

    padding-top: 24px;
    padding-left: 24px;
  }
  .button {
    @include vars.button;

    background-color: #06f;
    justify-content: space-between;
  }
}
@media screen and (min-width: vars.$screen-tab) {
  .api {
    &__header {
      .text {
        margin: 0 auto;
        max-width: 710px;
      }
    }
    .link-btn-primary {
      flex: 0 0 auto;
      align-self: center;
      margin-bottom: 56px;
    }
    &__header {
      gap: 32px;
      margin-bottom: 32px;
    }
  }
}
@media screen and (min-width: vars.$screen-lt) {
  .api {
    &__header {
      .text {
        font-size: 22px;
        max-width: 1060px;
      }
    }
    &__wrapper {
      gap: 0px;
      padding-top: 56px;
      padding-right: 56px;
      padding-left: 56px;
    }
    padding-top: 56px;
    // padding-left: 56px;
    // padding-right: 56px;
    text-align: center;
    gap: 56px;
    .title--subtitle {
      // margin-bottom: 32px;
    }
    &__list {
      // padding: 24px;
    }

    &__table {
      text-align: start;
      font-size: 22px;

      padding-top: 24px;
      padding-left: 24px;
      // overflow: visible;
      height: 244px;
      .color--gray-2 {
        text-align: right;
      }
    }
  }
}
