@use "../vars";

.hero {
  padding-top: 115px;
  padding-bottom: 48px;
  border-bottom: 1px solid #e5e6e6;
  background-color: #fff;
  &__text {
    text-align: left;
  }
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    &::after {
      content: url("/assets/svg/ellipse-yellow.svg");
      position: absolute;
      left: -225px;
      top: -54px;
      z-index: 1;

      width: 297px;
      height: 297px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 2;
  }

  &__title {
    max-width: 310px;
    animation: title 1000ms ease 0s 1 normal backwards running;

    @keyframes title {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }

  &__text {
    animation: hero-text 1200ms ease 400ms 1 normal backwards running;

    @keyframes hero-text {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }

  &__link {
    margin-top: 8px;
    animation: hero-btn 1200ms ease 800ms 1 normal backwards running;

    @keyframes hero-btn {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }
}

@media screen and (min-width: vars.$screen-mob) {
  .hero {
    &__title {
      text-align: center;
      margin: 0 auto;
    }
    &__text {
      max-width: 576px;
      text-align: center;
    }
    &__link {
      align-self: center;
    }
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .hero {
    &__container {
      flex-direction: row;
    }
    &__title {
      max-width: 100%;
      // text-align: center;
    }
    &__text {
      max-width: 100%;
      text-align: center;
    }
    &__link {
      // align-self: flex-start;
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .hero {
    padding-top: 156px;
    padding-bottom: 90px;
    &__text {
      line-height: 28.6px;
      width: 1096px;
    }

    &__container {
      // padding-right: 83px;
      gap: 120px;

      &::after {
        left: -253px;
        top: -151px;
        width: 430px;
        height: 430px;
      }
    }

    &__description {
      gap: 32px;
    }

    &__link {
      margin-top: 0;
    }
  }
}
