@use "../vars";

.use_cases {
  &.section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  // row-gap: 24px;
  align-items: center;
  height: 300%;
  .title--subtitle {
    // color: vars.$color--accent;
    align-self: flex-start;
    margin-bottom: 16px;

    // max-width: 690px;
  }
  .text {
    // max-width: 821px;
    text-align: left;
    margin-bottom: 32px;
  }

  .grid {
    row-gap: 24px;
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, auto));
    justify-items: center;
    align-items: stretch;

    &__item {
      overflow: hidden;
      #mobile_app {
        margin-top: 32px;
        position: relative;
        display: block;
        height: 102px;
        // min-width: 500px;
        img {
          // width: 100%;
          // height: 102px;
        }
      }

      #user {
        margin-top: 32px;
        display: block;
        img {
          width: 100%;
        }
      }

      .title--subtitle {
        color: vars.$color--accent;
      }
      .text {
        text-align: left;
      }
      background-color: #fdfdfd;
      border-radius: 32px;
      padding: 24px;

      width: 100%;
      // height: 100%;
      border-color: #e5e6e6;
      border-width: 2px;
      border-style: solid;

      ul {
        margin-left: 20px;
        row-gap: 12px;
        height: 50%;
      }
    }
    .item {
      &__star {
        list-style-image: image-set("/assets/pages/id_verification/star.svg");
        list-style-position: revert;
        font-size: 16px;
      }
      &__title {
        text-align: left;
        font-size: 20px;
        margin-bottom: 16px;
      }
    }
  }
  @media screen and (min-width: 656px) {
    &.section {
      padding-top: 72px;
      padding-bottom: 112px;
    }
    .text {
      text-align: center;
    }
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 48px;
      grid-column-gap: 32px;
      .crm__systems {
        grid-column: span 2;
      }
      .bank {
        grid-column: span 3;
      }
      .providers {
        grid-column: span 2;
      }
    }
    row-gap: 32px;
    .title--subtitle {
      align-self: center;
    }
    .text {
      font-size: 22px;
      align-self: center;
    }
    .grid {
      &__item {
        &:hover {
          animation: Card_scaleDownUp 0.3s ease forwards;
        }
        padding: 48px;
        .title--subtitle {
          font-size: 32px;
        }
        @keyframes Card_scaleDownUp {
          0% {
            transform: scale(1);
          }

          50% {
            transform: scale(0.96);
          }

          to {
            transform: scale(1);
          }
        }
      }
    }
  }
  @media screen and (min-width: 1440px) {
    .title--subtitle {
      margin: 0;
    }
    .text {
      // margin: 0;
      margin-bottom: 16px;
    }
    .grid {
      grid-template-columns: 442px 1fr 442px;
      grid-template-rows: 500px 1fr 418px;
      gap: 16px;
      .title--subtitle {
        line-height: 41.6px;
      }
      .text {
        margin: 0;
        line-height: 28.6px;
      }
      &__item {
        #mobile_app {
          top: 25px;
        }
      }
    }
  }
}
