@use "vars";

body {
  font-family: "DM Sans Variable", sans-serif;
  min-height: 100vh;
  flex: 1;
  font-size: clamp(16px, 2.3vw, 22px);
  color: vars.$text-color;
  background-color: vars.$body-color;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow: hidden;
  position: relative;
}

// --------------------------------SECTION--------------------------------

.section {
  display: flex;
  justify-content: center;
  padding-top: vars.$size__padding--24;
  padding-bottom: vars.$size__padding--24;
  margin: 0 auto;
  margin-bottom: 48px; //? или используем flex gap;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  @media screen and (min-width: vars.$screen-lt) {
    max-width: 1248px;
    margin: 0 auto;
  }
  @media screen and (min-width: vars.$screen-dt) {
    padding-left: 0;
    padding-right: 0;
  }
}

.title {
  font-family: "Anek Bangla Variable", sans-serif;
  font-weight: 700;
  font-size: clamp(30px, 5.7vw, 72px);
  line-height: 1.2;
  color: vars.$color--black;
  &__h1--m {
    color: vars.$color--black;
    font-family: vars.$font-family-title;
    font-size: clamp(30px, 4vw, 56px);
    line-height: 1.2;
    & .title-accent {
      background: var(
        --Blue-gradient,
        linear-gradient(90deg, #06f 19.68%, #7aafff 69.23%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__h2--m {
    color: vars.$color--black;
    font-family: vars.$font-family-title;
    font-size: clamp(30px, 3.5vw, 44px);
    line-height: 1.2;
  }
  &__h2--ml {
    color: vars.$color--black;
    font-family: vars.$font-family-title;
    font-size: clamp(36px, 3.5vw, 44px);
    line-height: 1.2;
  }
  &--subtitle {
    font-family: vars.$font-family-title;
    font-size: clamp(24px, 3.5vw, 44px);
    line-height: 1.2;
    color: vars.$color--black-h2;
  }
  &__h3--xs {
    font-family: vars.$font-family-title;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
    color: vars.$color--black-h2;
  }
  &__h3--s {
    font-family: vars.$font-family-title;
    font-size: clamp(18px, 1.76vw, 22px);
    line-height: 1.3;
    color: vars.$color--black-h2;
  }
  &__h3--ms {
    font-family: vars.$font-family-title;
    font-size: clamp(18px, 2.56vw, 32px);
    line-height: 1.3;
    color: vars.$color--black-h2;
  }
  &__h3--ml {
    font-family: vars.$font-family-title;
    font-size: clamp(20px, 2.56vw, 32px);
    line-height: 1.3;
    color: vars.$color--black-h2;
  }
  &__h3--m {
    font-family: vars.$font-family-title;
    font-size: clamp(24px, 2.56vw, 32px);
    line-height: 1.2;
    color: vars.$color--black-h2;

    @media screen and (min-width: vars.$screen-dt) {
      line-height: 1.3;
    }
  }
}

.text {
  font-size: 16px;
  &--s {
    font-size: 13px;
  }
}

.flex {
  display: flex;
  &--col {
    display: flex;
    flex-direction: column;
  }
  &--row {
    display: flex;
    flex-direction: row;
  }
}

.link-btn-primary {
  padding: 12px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  font-family: "Anek Bangla Variable";
  font-size: 16px;
  font-weight: 600;
  line-height: calc(30 / 16);
  cursor: pointer;
  color: white;
  background-color: vars.$cta-color;

  transition-property: background-color, border;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;

  .link-icon {
    fill: #fff;
  }

  &:hover {
    background-color: vars.$btn-hover-color;
  }
}

.link-btn-secondary {
  display: flex;
  padding: 11px 31px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  font-family: "Anek Bangla Variable", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: calc(30 / 16);
  cursor: pointer;
  color: #111;
  background-color: white;
  border: 1px solid #e2e2e2; //! height and width 2 px
  transition-property: color, border-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;

  .link-icon {
    fill: #111;
    transition-property: fill;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
  }

  &:hover {
    color: vars.$cta-color;
    border-color: #111;

    & .link-icon {
      fill: vars.$cta-color;
    }
  }
}

.link-btn-auth--primary {
  display: block;
  padding: 4px 16px;
  background-color: vars.$cta-color;
  border-radius: 0.75rem;
  font-family: "Anek Bangla Variable", sans-serif;
  font-weight: 600;
  color: #111;
  font-size: 14px;
  line-height: 26.12px;
  text-align: center;
  cursor: pointer;
  color: vars.$body-color;

  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;

  &:hover {
    background-color: vars.$btn-hover-color;
  }
}

.link-btn-auth--secondary {
  display: block;
  padding: 7px 23px;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  font-family: "Anek Bangla Variable", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #111;
  font-size: 14px;
  line-height: 26.12px;
  text-align: center;
  cursor: pointer;

  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;

  &:hover {
    color: vars.$cta-color;
    border-color: #111111;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;

  background-color: rgba(13, 13, 13, 0.4);

  transition-property: opacity, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.color {
  &--black {
    color: vars.$palitra--black;
  }
  &--main {
    color: vars.$kycaid-main-color;
  }
  &--primary {
    color: vars.$text-primary;
  }
  &--secondary {
    color: vars.$text-color;
  }
  &--unusual {
    color: vars.$text-unusaul;
  }
  &--white {
    color: vars.$body-color;
  }
  &--gray {
    color: vars.$color-gray;
  }
  &--gray-2 {
    color: vars.$color--gray2;
  }
  &--accent {
    color: vars.$color--accent;
  }
}

.icon--cookie {
  padding: 12px;
  border-radius: 24px;
  background: #e3eeff;
  position: fixed;
  bottom: 24px;

  left: 24px;
  z-index: 50;
  cursor: pointer;
  @media screen and (max-width: vars.$screen-mob) {
    bottom: 14px;
    left: 4px;
  }
}
