@use "./vars";

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  background-color: vars.$body-color;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: vars.$grey;
}

.nav {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    padding-top: 16.5px;
    padding-bottom: 16.5px;

    display: flex;
    gap: 8px;
    align-items: center;

    line-height: 0;
    fill: vars.$kycaid-main-color;
  }

  &__menu {
    position: absolute;
    top: 59px;
    left: 0;
    z-index: 10;

    padding-bottom: 173px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 59px);

    background-color: #fff;

    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transform: translateX(100%);

    transition-property: transform, opacity;
    transition-duration: 0.25s;
  }

  &__list {
    overflow: auto;
    display: flex;
    flex-direction: column;
    color: vars.$kycaid-main-color;
  }

  &__item {
    color: vars.$kycaid-main-color;
    font-family: "Anek Bangla Variable", sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
  }

  &__button {
    padding: 12px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    font-family: "Anek Bangla Variable", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;

    transition-property: color;
    transition-duration: 0.3s;

    &-arrow {
      width: 20px;
      height: 20px;
      fill: vars.$kycaid-main-color;

      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
  }

  &__toogle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    &-menu,
    &-close {
      position: absolute;
      transition-property: opacity, transform;
      transition-duration: 0.2s, 0.4s;
    }

    &-close {
      opacity: 0;
    }
  }
}

// ------------------------------- NAV-MENU-DROPDOWN ---------------------------------

.dropdown {
  padding-bottom: 12px;
  display: none;
  pointer-events: none;
  background-color: vars.$body-color;

  &__content {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
  }

  &__baner {
    display: none;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__group-item {
    display: flex;
    align-items: center;
  }

  &__link {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;

    color: vars.$black-color;
    line-height: 1.875;
    border-radius: 8px;

    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &:hover {
      background-color: vars.$link-hover-color;
      color: vars.$cta-color;
    }
  }

  &__icon {
    fill: vars.$cta-color;
  }

  &__title {
    word-wrap: break-word;
  }

  &__blog {
    display: none;
  }
}

// ------------------------------- MOB-AUTH-LIST ---------------------------------

.auth-mobile {
  position: fixed;
  bottom: 0;
  z-index: 30;
  padding: 16px 16px 32px 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #e5e6e6;

  &__item {
    flex: 1;
    min-width: 155px;
  }

  &__link {
    border-color: transparent;
  }
}

// ------------------------------- NAV-AUTH-LIST ---------------------------------

.auth {
  display: none;
}

.pricing {
  display: inline-block;
  width: auto;
}

.link {
  line-height: 1.875;
}

// ------------------ Dynamic class ------------------

.show-menu {
  opacity: 1;
  transform: translateX(0);
  pointer-events: initial;
}

.show-icon .nav__toogle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toogle-close {
  opacity: 1;
  transform: rotate(90deg);
}

.show-sub-menu {
  pointer-events: initial;
}

.change-arrow {
  transform: rotate(-180deg);
}

@media screen and (min-width: 358px) {
  .nav {
    &__menu {
      padding-bottom: 103px;
    }
  }

  .auth {
    display: block;
    margin-left: auto;
    margin-right: 24px;

    &__none {
      display: none;
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .nav {
    &__logo {
      min-width: 202px;
    }

    &__menu {
      position: static;
      padding: 0;

      flex-direction: row;
      justify-content: start;
      width: auto;
      height: auto;

      opacity: 1;
      pointer-events: initial;
      transform: none;
    }

    &__list {
      flex-direction: row;
      align-items: center;

      & .nav__item {
        padding-left: 20px;
        padding-right: 20px;
      }

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }

    &__item {
      // padding-bottom: 0;
      &:not(.pricing__item)::before {
        content: "";
        position: fixed;
        top: 185px;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100vh;

        background: rgba(13, 13, 13, 0.2);
        pointer-events: none;
        opacity: 0;

        transition-property: opacity;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
      }

      &:hover {
        .nav__button {
          color: vars.$cta-color;
          .nav__button-arrow {
            fill: vars.$cta-color;
            transform: rotate(-180deg);
          }
        }

        .dropdown {
          opacity: 1;
          pointer-events: initial;
        }

        &:not(.pricing__item)::before {
          opacity: 1;
        }
      }
    }

    &__button {
      padding: 18px 0;
      justify-content: start;
      gap: 4px;

      font-size: 16px;
      font-weight: 400;

      &:not(.pricing) {
        pointer-events: none;
      }
    }

    &__toogle {
      display: none;
    }
  }

  .dropdown {
    position: absolute;
    top: 66.12px;
    left: 0;
    z-index: 11;
    padding: 16px 0;

    display: block !important;
    width: 100%;

    border-top-width: 1px;
    border-top-style: solid;
    border-color: vars.$grey;

    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;

    &__resources-menu {
      padding: 0;
    }

    &__content {
      flex-direction: row;
      gap: 10px;
      width: 100%;
      max-width: 1248px;
      margin: 0 auto;
      min-height: 176px;
    }

    &__baner {
      padding: 12px;
      display: flex;
      flex-direction: column;
      align-self: stretch;
      gap: 16px;

      max-width: 202px;
      max-height: 176px;

      border-radius: 16px;
      border: 1px solid vars.$border-color;
      background-color: vars.$baner-color;
    }

    &__description {
      &-title {
        color: vars.$black-color;
        font-family: vars.$font-family-title;
        font-size: vars.$normal-font-size;
        font-weight: 600;
        line-height: 20.8px;
      }
      &-text {
        color: #6e6e7d;
        font-size: 13px;
        line-height: 16.9px;
      }
    }

    &__image {
      width: 100%;
      object-fit: cover;
    }

    &__link-wrapper {
      width: 100%;
      display: flex;
    }

    &__group {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__link {
      display: flex;
      align-items: center;
    }

    &__blog {
      display: flex;
      gap: 24px;
      flex-direction: column;
      border-left: 1px solid vars.$grey;

      &-baner {
        display: flex;
        align-items: flex-start;
        gap: 16px;
      }

      &-image {
        object-fit: contain;
      }

      &-description {
        max-width: 253px;
      }

      &-description-title {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.43;
        color: vars.$black-color;
      }

      &-description-text {
        margin-top: 8px;
        font-size: 12px;
        color: vars.$black-color;
        text-overflow: ellipsis;
        line-height: 1.33;
        overflow: hidden;
      }

      &-link {
        padding: 0 24px 16px 24px;
        display: flex;
        align-items: center;
        gap: 8px;

        color: vars.$cta-color;
        font-size: 16px;
        line-height: 1.875;
      }
    }
  }

  .products-menu {
    &__link-wrapper {
      gap: 25px;
    }
  }

  .solutions-menu {
    &__baner {
      display: none;
    }
    .solutions-menu__link-wrapper {
      justify-content: space-between;
    }
  }

  .resources-menu {
    gap: 40px;

    &__link-wrapper {
      padding: 16px 0;
      flex-shrink: 1;
      gap: 40px;
      width: auto;
    }

    &__baner {
      padding: 16px 24px 0 24px;
    }
  }

  .auth {
    margin-left: 0;
    margin-right: 0;
    padding: 12px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-direction: row;

    &__none {
      display: inherit;
    }

    .link-btn-auth--primary {
      padding: 8px 24px;
    }
  }

  .auth-mobile {
    display: none;
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .nav {
    &__logo {
      min-width: 228px;
    }
  }
  .dropdown {
    &__content {
      padding-left: 0;
      padding-right: 0;
      gap: 40px;
    }
  }

  .products-menu {
    &__link-wrapper {
      gap: 40px;
      .dropdown__group {
        flex-basis: calc((100% - 172px) / 3);
      }
    }
  }

  .solutions-menu {
    &__baner {
      display: flex;
    }
    .solutions-menu__link-wrapper {
      justify-content: start;
      gap: 40px;
    }
    .dropdown__group {
      flex-basis: calc((100% - 86px) / 4);
    }
  }

  .resources-menu {
    .dropdown__group {
      min-width: 229px;
    }
  }
}
