// <--------------- Global Palitra -------------->

$palitra--black: #111111;
$palitra--black2: #0d0d0d;
$palitra--CTA: rgba(0, 102, 255, 1);
$palitra--grey: rgba(229, 230, 230, 1);

// <--------------- Global fonts --------------->

$font-family-title: "Anek Bangla Variable", sans-serif;
$font-family-text: "DM Sans Variable", sans-serif;
$normal-font-size: 16px;
$line-height: 1.3;

// <--------------- Global @media--------------->
$screen-mob: 431px; //! padding 96/4
$screen-tab: 768px; //! padding 96/3
$screen-lt: 1024px; //! padding 96/2
$screen-dt: 1440px; //!

// <--------------- Color --------------->
$color--accent: $palitra--CTA;
$color-gray: $palitra--grey;
$color--black: #0d0d0d;
$color--black-h2: #111111;
$color--bg-section: rgba(226, 226, 226, 1);
$color--gray2: #6a6a6a;

$cta-color: rgba(0, 102, 255, 1);
$kycaid-main-color: #252534 !default;
$body-color: #fff !default;
$text-color: #595d62 !default;
$text-primary: #111 !default;
$text-unusaul: #0d0d0d !default;
$grey: #e5e6e6 !default;
$fontSize: 16px;

//<---------- 05 Header ------->

$baner-color: #fdfdfd;
$border-color: #e5e6e6;
$black-color: #111;
$link-hover-color: #f0f6ff;
$btn-hover-color: #5096ff;

// <--------------- Global fonts --------------->

$section: 52px;
$section--large: 112px;

// <--------------- Section sizes --------------->
$size__padding--12: 12px;
$size__padding--24: 24px;
$size__padding--54: 54px;

$padding__section: $size__padding--24;
$padding__section--header: $size__padding--12;

// <--------------- Buttons --------------->
$size__button--vh: 12px;
$size__button--vw: 32px;

$padding__button: $size__button--vh $size__button--vw;

// <--------------- @Mixins --------------->
@mixin section($padding: $padding__section) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin button($padding: $padding__button) {
  font-family: "Anek Bangla Variable", sans-serif;
  color: white;
  background-color: $cta-color;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
  display: flex;
  padding: $padding;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-weight: 600;
  line-height: calc(30 / 16);
  cursor: pointer;

  &:hover {
    background-color: $btn-hover-color;
  }
}

@mixin button--secondary($padding: $padding__button) {
  // font-family: "Anek Bangla";
  color: white;
  background-color: $cta-color;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
  display: flex;
  padding: $padding;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  font-weight: 600;
  line-height: calc(30 / 16);
  cursor: pointer;

  &:hover {
    background-color: $btn-hover-color;
  }
}
