$color: green;

// <--------------- Global --------------->

$body-font: "Anek Bangla Variable", sans-serif;
$secondary-font: "DM Sans Variable", sans-serif;
$normal-font-size: 16px;
// $screen: 450px, 768px, 1440px;
$screen-mob: 431px; //? padding 96/4
$screen-tab: 768px; //? padding 96/3
$screen-lt: 1024px; //? padding 96/2
$screen-dt: 1440px;

// <--------------- Golor --------------->

$cta-color: #0066ff;
$kycaid-main-color: #252534;
$body-color: #fff;
$text-color: #595d62;
$grey: #e5e6e6;
$grey-bold-color: #6e6e7d;

//<---------- 05 Header ------->

$baner-color: #fdfdfd;
$border-color: #e5e6e6;
$black-color: #111;
$link-hover-color: #f0f6ff;
$btn-hover-color: #5096ff;

// <---------- 05 Face Varification------->
$li-color: #e2e2e2;

$primaryColor: #3498db;
$fontSize: 16px;

//Test1
// @warn '123 : #{nth($screen,1)} ';
// @debug "123 : #{nth($screen,1)} ";
// @error "123 : #{nth($screen,1)} ";
