.map {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.marker {
  background-color: white;
  //   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
