@use "../vars";

.compliance {
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #f6f6f6;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    position: relative;
    max-width: 330px;
    font-size: 30px;
    &::after {
      content: "";
      position: absolute;
      top: -18px;
      right: 52px;
      width: 78px;
      height: 56px;
      background-image: url("/assets/pages/kyc-verification/compliance/stars.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .compliance {
    &__container {
      flex-direction: row;
      align-items: flex-start;
      gap: 48px;
    }

    &__title {
      width: 330px;
      flex-shrink: 0;
      &::after {
        top: -18px;
        right: 52px;
      }
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .compliance {
    padding-top: 112px;
    padding-bottom: 112px;

    &__container {
      gap: 112px;
    }

    &__title {
      font-size: 44px;
      &::after {
        top: 1px;
        right: -22px;
      }
    }
  }
}
