@use "../vars";

.hero {
  padding-top: 66px;
  padding-left: 8px;
  padding-right: 8px;

  &__container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;

    border-radius: 24px;
    background-color: rgb(20, 113, 252);
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 24px;

    color: white;
  }

  &__title {
    color: white;
    animation: title 1000ms ease 0s 1 normal backwards running;

    @keyframes title {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }

  &__text {
    animation: hero-text 1200ms ease 400ms 1 normal backwards running;

    @keyframes hero-text {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }

  &__link {
    margin-top: 8px;
    align-self: flex-start;

    color: #111;
    border: 2px solid transparent;
    background-color: #d2fa57;

    animation: hero-btn 1200ms ease 800ms 1 normal backwards running;

    .link-icon {
      fill: #111;
    }

    &:hover {
      background-color: #ebffda;
      border: 2px solid #d2fa57;
    }

    @keyframes hero-btn {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }
}

@media screen and (min-width: vars.$screen-mob) {
  .hero {
    &__title {
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
    }
    &__text {
      max-width: 576px;
      text-align: center;
    }
    &__link {
      align-self: center;
    }
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .hero {
    padding-top: 90px;
    &__container {
      gap: clamp(56px, 13vw, 182px);
      flex-direction: row;
    }
    &__title {
      max-width: 100%;
      margin: 0;
      text-align: left;
    }
    &__text {
      max-width: 100%;
      text-align: left;
    }
    &__link {
      align-self: flex-start;
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .hero {
    &__video {
      width: 400px;
      height: 400px;
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .hero {
    padding-right: 0;
    padding-left: 0;

    &__container {
      padding: 72px;
      padding-right: 52px;
      max-width: 1392px;
      gap: 182px;
      border-radius: 32px;
    }

    &__description {
      gap: 32px;
    }

    &__link {
      margin-top: 0;
    }
  }
}
