@use "../vars";

.practices {
  padding-top: 32px;
  padding-bottom: 32px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__table {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__text {
    margin-top: 16px;
  }

  &__list {
    display: grid;
    gap: 8px;
  }

  &__build {
    display: none;
  }
}

.card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  border-radius: 24px;
  border: 2px solid #e5e6e6;
  background: #fdfdfd;

  &__title {
    color: #0066ff;
  }

  &__image {
    max-width: 295px;
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;
  }
}

.build {
  padding: 24px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  border-radius: 24px;
  background: vars.$cta-color;
  background-image: url("/assets/pages/kyc-verification/practices/star-mob-bg.svg");
  background-repeat: no-repeat;
  background-position: right -245px;

  &__description {
    max-width: 874px;
    color: white;
  }

  &__title {
    color: white;
  }

  &__text {
    margin-top: 16px;
  }

  &__link {
    flex-shrink: 0;
    align-self: flex-start;
    color: #111;
    border: 2px solid transparent;
    background-color: #d2fa57;

    .link-icon {
      fill: #111;
    }

    &:hover {
      background-color: #ebffda;
      border: 2px solid #d2fa57;
    }
  }
}

@media screen and (min-width: vars.$screen-mob) {
  .practices {
    &__title {
      text-align: center;
    }
    &__text {
      text-align: center;
    }
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .practices {
    padding-top: 56px;
    padding-bottom: 56px;
    &__list {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: "a monitoring" "b monitoring";
      .monitoring {
        grid-area: monitoring;
      }
    }
  }

  .build {
    padding: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-image: url("/assets/pages/kyc-verification/practices/star-bg.svg");
    background-position: right -30px;

    &__title {
      line-height: 1.3;
    }

    &__link {
      align-self: center;
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .practices {
    padding-top: 92px;
    padding-bottom: 92px;
  }
  .build {
    padding: 56px;
    background-position: right bottom;
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .practices {
    padding-top: 112px;
    padding-bottom: 112px;

    &__container {
      gap: 48px;
    }

    &__text {
      margin-top: 32px;
    }

    &__table {
      gap: 16px;
    }

    &__list {
      grid-template-columns: auto 551px;
      gap: 16px;
    }
  }

  .card {
    padding: 48px;
    border-radius: 32px;

    &__image {
      max-width: 100%;
      margin-top: 40px;
    }
  }
}
