@use "../vars";

.solution {
  &__container {
    padding-left: 0;
    padding-right: 0;
  }
  &__title {
    padding-left: 16px;
  }
  &__list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    & li:first-child {
      border-radius: 24px;
      border: 2px solid transparent;
      background-color: #8db3fe;
      backdrop-filter: blur(10px);

      transition-property: border-color, background-color;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;

      &:hover {
        border-color: #06f;
        background-color: #afcaff;
      }
    }
    & li:last-child {
      border-radius: 24px;
      border: 2px solid transparent;
      background: #d6feb7;
      backdrop-filter: blur(10px);

      transition-property: border-color, background-color;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;

      &:hover {
        border-color: #d2fa57;
        background-color: #ebffda;
      }
    }
  }

  &__item {
    color: vars.$color--black;
  }
}

.card-related {
  &__link {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__subtitle {
    padding: 4px 8px;
    align-self: flex-start;
    border-radius: 24px;
    background: #fff;
  }

  &__icon-wrapper {
    width: 56px;
    height: 56px;
    padding: 11px 11.029px 11.059px 11.029px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 24px;
    border: 1px solid vars.$color--black;
    background: #d2fa57;
  }
}

@media screen and (min-width: vars.$screen-mob) {
  .solution {
    &__title {
      padding-left: 0;
      text-align: center;
    }
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .solution {
    &__list {
      flex-direction: row;
    }

    &__item {
      flex-basis: 50%;
      align-items: start;
    }

    .card-related {
      &__description {
        max-width: 421px;
      }
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .card-related {
    &__link {
      padding: 32px;
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .solution {
    padding-bottom: 0;

    &__container {
      width: 1248px;
    }
    &__list {
      margin-top: 32px;
    }
  }
}
