---
import "./style.scss";
---

<section data-section="section" class="solutions">
  <div class="solutions__container container">
    <div class="solutions__wrapper">
      <h2 class="solutions__title title--subtitle">Why KYCAID?</h2>
      <ul class="solutions__list">
        <li class="solutions__item advantages">
          <h3 class="advantages__title">
            Instantaneous Verification Results<span class="advantages__emoji"
              >🚀</span
            >
          </h3>
          <p class="advantages__text">
            Our advanced technology ensures instantaneous verification results,
            saving you precious time and reducing customer friction. No more
            waiting around for days or weeks to get a verification outcome.
          </p>
        </li>
        <li class="solutions__item advantages">
          <h3 class="advantages__title">
            Government-Sourced Personal Details<span class="advantages__emoji"
              >👮</span
            >
          </h3>
          <p class="advantages__text">
            Our extensive network allows us to verify personal details from
            government sources for various identification numbers, ensuring the
            authenticity and reliability of the information provided.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
