---
import "@styles/id_verification/_support.scss";
---

<section data-section="section" class="support section container flex--col">
  <h2 class="title--subtitle">
    Supported Documents for KYCAID's Robust ID Verification Process
  </h2>
  <p class="text">
    Elevate your ID verification experience with KYCAID's extensive document
    support. <br />
    Confidence in identity verification, one document at a time
  </p>
  <ul class="grid">
    <li class="grid__item">
      <h3 class="item__title title--subtitle">Government-Issued IDs:</h3>
      <ul class="flex--col">
        <li class="item__star">National Identity Cards</li>
        <li class="item__star">Driver's Licenses</li>
        <li class="item__star">Social Security Cards</li>
      </ul>
    </li>
    <li class="grid__item">
      <h3 class="item__title title--subtitle">Passports:</h3>
      <ul class="flex--col">
        <li class="item__star">Machine-Readable Passports (MRP)</li>
        <li class="item__star">Electronic Passports</li>
      </ul>
    </li>
    <li class="grid__item">
      <h3 class="item__title title--subtitle">Biometric IDs:</h3>
      <ul class="flex--col">
        <li class="item__star">Fingerprints</li>
        <li class="item__star">Retina Scans</li>
      </ul>
    </li>
    <li class="grid__item">
      <h3 class="item__title title--subtitle">Other Photo IDs:</h3>
      <ul class="flex--col">
        <li class="item__star">Employee ID Cards</li>
        <li class="item__star">Student ID Cards</li>
      </ul>
    </li>
    <li class="grid__item">
      <h3 class="item__title title--subtitle">Financial IDs:</h3>
      <ul class="flex--col">
        <li class="item__star">Bank Cards</li>
        <li class="item__star">Credit Cards</li>
      </ul>
    </li>
    <li class="grid__item">
      <h3 class="item__title title--subtitle">Residence Permits:</h3>
      <ul class="flex--col">
        <li class="item__star">Permanent Resident Cards</li>
      </ul>
    </li>
    <li class="grid__item">
      <h3 class="item__title title--subtitle">Utility Bills:</h3>
      <ul class="flex--col">
        <li class="item__star">Recent Water, Gas, or Electricity Bills</li>
      </ul>
    </li>
    <li class="grid__item">
      <h3 class="item__title title--subtitle">Birth Certificates:</h3>
      <ul class="flex--col">
        <li class="item__star">
          Verifying the individual's date and place of birth
        </li>
      </ul>
    </li>
    <li class="grid__item">
      <h3 class="item__title title--subtitle">Tax Identification Numbers:</h3>
      <ul class="flex--col">
        <li class="item__star">Tax Identification Numbers</li>
      </ul>
    </li>
    <li class="grid__item">
      <h3 class="item__title title--subtitle">Health Insurance Cards:</h3>
      <ul class="flex--col">
        <li class="item__star">Medical ID Cards</li>
      </ul>
    </li>

    <li class="grid__item">
      <h3 class="title--subtitle">
        Automatically verify users with KYCAID ID Verification API
      </h3>
      <a class="link-btn-primary" href="#">
        <span class="link-title"> Try now</span>
        <svg class="link-icon icon-arrow-east" width="18" height="18">
          <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
