---
import "@styles/id_verification/_software-solutions.scss";
---

<section data-section="section" class="solutions section">
  <div class="solutions__container container">
    <div class="solutions__wrapper">
      <h2 class="solutions__title title--subtitle">
        Swift ID Verification Check
      </h2>
      <p class="text">
        KYCAID's ID Verification Check process involves seamlessly integrating
        into your workflow. Users submit their identity documents, and our
        advanced technology performs real-time checks, ensuring accuracy and
        compliance. Global coverage enhances security, fostering trust in your
        transactions.
      </p>
      <ul class="solutions__list">
        <li class="solutions__item advantages">
          <h3 class="advantages__title">
            Quality<span class="advantages__emoji">😎</span>
          </h3>
          <p class="advantages__text">
            We offer a proprietary compliance system and legal professionals
            that will help you achieve superior results.
          </p>
        </li>
        <li class="solutions__item advantages">
          <h3 class="advantages__title">
            Security<span class="advantages__emoji">👮</span>
          </h3>
          <p class="advantages__text">
            We guarantee strict compliance with the highest security demands
            confirmed by ISO certificates and security audits.
          </p>
        </li>
        <li class="solutions__item advantages">
          <h3 class="advantages__title">
            Speed<span class="advantages__emoji">🚀</span>
          </h3>
          <p class="advantages__text">
            We provide immediate documents and selfie verification and the
            highest SLA for manual checks.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
