---
import "@styles/id_verification/_use_cases.scss";
---

<section data-section="section" class="use-cases container section">
  <ul class="use-cases__list-color" data-section="section">
    <li class="use-cases__item-color card-related">
      <a href="#" class="card-related__link">
        <div class="card-related__description">
          <p class="card-related__subtitle text--s">Related Solution</p>
          <h3 class="card-related__title title__h3--m">
            Identity Verification
          </h3>
          <p class="card-related__text">
            Secure, swift, accurate identity verification for compliance
            assurance.
          </p>
        </div>
        <div class="card-related__icon-wrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="34"
            height="35"
            viewBox="0 0 34 35"
            fill="none"
          >
            <path
              d="M11.3431 11.8137V13.8078L19.2415 13.8148L10.636 22.4203L12.0503 23.8345L20.6557 15.229L20.6487 23.1274H22.6569V11.8137H11.3431Z"
              fill="#111111"></path>
          </svg>
        </div>
      </a>
    </li>
    <li class="use-cases__item-color card-related">
      <a href="#" class="card-related__link">
        <div class="card-related__description">
          <p class="card-related__subtitle text--s">Related Solution</p>
          <h3 class="card-related__title title__h3--m">Liveness Check</h3>
          <p class="card-related__text">
            Use advanced technology for passive and active liveness checks.
          </p>
        </div>
        <div class="card-related__icon-wrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="34"
            height="35"
            viewBox="0 0 34 35"
            fill="none"
          >
            <path
              d="M11.3431 11.8137V13.8078L19.2415 13.8148L10.636 22.4203L12.0503 23.8345L20.6557 15.229L20.6487 23.1274H22.6569V11.8137H11.3431Z"
              fill="#111111"></path>
          </svg>
        </div>
      </a>
    </li>
  </ul>
</section>
