---
// import "@styles/id_verification/_hero.scss";
import "./style.scss";
import Button from "@components/ui/Button.astro";
import videoWebm from "@assets/pages/non-doc/non-doc.webm";
import videoMp4 from "@assets/pages/non-doc/non-doc.mp4";

const { title, subTitle1, subTitle2 } = Astro.props;
---

<section class="hero">
  <div class="hero__container">
    <div class="hero__description">
      <h1 class="hero__title title__h1--m" set:html={title} />
      <div class="hero__text--wrapper">
        <p class="hero__text" set:html={subTitle1} />
        <p class="hero__text" set:html={subTitle2} />
      </div>
      <Button />
    </div>
    <video
      class="hero__video"
      width="362.5"
      height="500"
      autoplay
      loop
      muted
      playsinline
    >
      <source src={videoWebm} type="video/webm" />
      <source src={videoMp4} type="video/mp4" />
      <p>Your browser doesn't support HTML video.</p>
    </video>
  </div>
</section>
