@use "@styles/id_verification/_hero.scss";
.hero {
  &__description {
    max-width: 653px;
  }
  &__text {
    color: white;
  }
  &__title.title__h1--m {
    color: white;
  }

  &__container {
    border-radius: 32px;
    padding: 24px;
    &::after {
      content: "";
    }
  }
  .link-btn-primary {
    width: 191px;
    background-color: #d2fa57;
    color: #111111;
    &:hover {
      background-color: #ebffda;
    }
  }
  .link-icon.icon-arrow-east {
    fill: #111111;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-bottom: 0;
    &__container {
      padding: 72px;
    }
  }
}

.hero__title {
  text-align: left;
}
.hero__text {
  text-align: left;
  font-weight: 400;
  line-height: 28.6px;
}

.hero__container {
  justify-content: left;
  background-color: #0066ff;
  column-gap: 182px;
}
.hero__video--wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  margin: 0 auto;
  /* overflow: hidden; */
}
.hero__video {
  width: 100%;
  max-width: 365.5px;
  height: 100%;
  object-fit: fill;
}
.hero {
  padding-top: 90px;
  border: none;
  max-height: 803px;
  max-width: 1395px;
  margin: 0 auto;
  overflow: hidden;
}
.hero__description {
  max-width: 653px;
  width: 100%;
}
.hero__text--wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
