---
import "@fontsource-variable/anek-bangla/wdth.css";
import "@fontsource-variable/dm-sans";
import "../styles/layout.scss";

import Footer from "../components/common/Footer.astro";
import Header from "../components/common/Header.astro";
import c from "@const";
import { meta2 } from "../constants/meta-data";
console.log(999, meta2);

const {
  title = "title defualt value",
  description = "description defualt value",
} = c.path[Astro.url.pathname] || {};
// const url = "test";
// console.log(c);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg" href="favicon.svg" />

    <link rel="canonical" href="https://kycaid.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="no generator prividet" />
    <meta name="description" content={description} />
    <meta name="keywords" content="kyc verification servise" />
    <meta name="robots" content="index" />
    <meta name="author" content="KYCAID" />
    <meta name="author" content="KYCAID" />
    <meta name="og:title" content="KYCAID" />
    <meta name="og:description" content="verefication servises" />
    <meta name="og:image" content="URL изображения Open Graph" />
    <title>
      {title}
    </title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <!-- <div>{frontmatter.url}</div> -->
    <Footer />
    <script>
      import "../js/zoomSections.js";
    </script>
  </body>
</html>
