---
import Card from "@components/common/Card/Card.astro";
import "./style.scss";
import "@splidejs/splide/css/skyblue";
import step1 from "./step1.svg";
import step2 from "./step2.svg";
import step3 from "./step3.svg";
import step4 from "./step4.svg";

const cards = [
  { title: "Enter the document number", img: step1, alt: "CPF" },
  {
    title: "Undergo a face detection and liveness test",
    img: step2,
    alt: "Liveness test",
  },
  {
    title: "Cross-check records against the government database",
    img: step3,
    alt: "Cross-check",
  },
  {
    title: "Completing user verification",
    img: step4,
    alt: "Completing user verification",
  },
];
---

<section
  data-section="section"
  id="image-carousel"
  class="splide section simple"
>
  <h2 class="title container">Simple steps</h2>
  <div class="splide__track">
    <ul class="splide__list cards__list">
      {
        cards.map((card, index) => (
          <Card
            title={card.title}
            img={card.img}
            step={index + 1}
            alt={card.alt}
          />
        ))
      }
    </ul>
  </div>
</section>

<script src="./splide.js"></script>
