.cards__list {
  display: flex;
  // gap: 24px;
}

.splide__pagination button {
  &.is-active {
    background-color: #0066ff;
  }
  &:hover {
    background-color: #0066ff;
  }
}

.simple {
  align-items: center;
  .title {
    text-align: left;
    width: 100%;
    margin-bottom: 32px;
  }
  display: flex;
  flex-direction: column;

  .splide__pagination {
    bottom: -32px;
  }
}

@media screen and (min-width: 1440px) {
  .simple {
    padding: 112px 0;
    margin-bottom: 0;
    .title {
      text-align: center;
    }
  }
}
