<section data-section="section" class="api section container">
  <div class="api__wrapper flex--col">
    <div class="api__header flex--col">
      <h2 class="title--subtitle color--white">
        Integrate OCR from KYCAID into your CRM
      </h2>
      <p class="text color--gray">
        Streamline your CRM processes by seamlessly integrating KYCAID's OCR
        technology, guaranteeing quick and accurate data input at your
        fingertips.
      </p>
    </div>
    <button class="link-btn-primary">
      Book a demo<svg class="link-icon icon-arrow-east" width="18" height="18">
        <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
      </svg>
    </button>
    <div class="api__editor flex--col">
      <ul class="api__list flex--row">
        <li class="item"></li>
        <li class="item"></li>
        <li class="item"></li>
      </ul>

      <div class="api__table color--white">
        <table>
          <tr>
            <td class="color--gray-2 col1">1</td>
            <td>{}</td>
            <tr>
              <td class="color--gray-2">2</td>
              <td>
                <span class="color--accent">"applicant_id"</span>: "&#123;
                "applicant_id" &#123;",
              </td>
            </tr>
            <tr>
              <td class="color--gray-2">3</td>
              <td>"type": "PERSON",</td>
            </tr>
            <tr>
              <td class="color--gray-2">4</td>
              <td><span class="color--accent">"first_name"</span>: "John",</td>
            </tr>
            <tr>
              <td class="color--gray-2">5</td>
              <td><span class="color--accent"> "middle_name"</span>: null,</td>
            </tr>
            <tr>
              <td class="color--gray-2">6</td>
              <td><span class="color--accent"> "last_name"</span>: "Doe",</td>
            </tr>
            <tr>
              <td class="color--gray-2">7</td>
              <td><span class="color--accent"> "dob"</span>: "1970-10-25",</td>
            </tr>
            <tr>
              <td class="color--gray-2">8</td>
              <td>
                <span class="color--accent"> "residence_country"</span>: "GB",
              </td>
            </tr>
            <tr>
              <td class="color--gray-2">9</td>
              <td><span class="color--accent"> "gender"</span>: null,</td>
            </tr>
            <tr>
              <td class="color--gray-2">10</td>
              <td>
                <span class="color--accent"> "email"</span>:
                "john.doe@mail.com",
              </td>
            </tr>
            <tr>
              <td class="color--gray-2">11</td>
              <td><span class="color--accent"> "phone"</span>: null,</td>
            </tr>
            <tr>
              <td class="color--gray-2">12</td>
              <td><span class="color--accent"> "pep"</span>: null,</td>
            </tr>
            <tr>
              <td class="color--gray-2">13</td>
              <td
                ><span class="color--accent">"profile_status"</span>: false,</td
              >
            </tr>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
