---

---

<section class="faq section" data-section="section">
  <div class="faq__container container">
    <h2 class="faq__title title--subtitle">FAQ</h2>
    <div class="faq__wrapper">
      <ul class="faq__list" data-faq-list>
        <li class="faq__item show-content">
          <div class="faq__description">
            <h3 class="faq__subtitle title__h3--s">
              How does OCR help verify documents?
            </h3>
            <div class="faq__icon-wrapper">
              <svg class="faq__icon icon-add" width="24" height="24">
                <use href="/assets/svg/sprite.svg#icon-add"></use>
              </svg>
            </div>
          </div>
          <div class="faq__content">
            <p class="text">The process goes through the following stages:</p>
            <ul class="faq__list--content flex--col">
              <li class="faq__list--item">
                It receives an uploaded document scan;
              </li>
              <li class="faq__list--item">
                Extracts words and lines from the image;
              </li>
              <li class="faq__list--item">
                Recognizes characters within words and lines;
              </li>
              <li class="faq__list--item">
                Generates an electronic document and compares it with the data
                in the system.
              </li>
            </ul>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__description">
            <h3 class="faq__subtitle title__h3--s">
              What methods does the OCR system use?
            </h3>
            <div class="faq__icon-wrapper">
              <svg class="faq__icon icon-add" width="24" height="24">
                <use href="/assets/svg/sprite.svg#icon-add"></use>
              </svg>
            </div>
          </div>
          <div class="faq__content">
            <ul class="faq__list--content flex--col">
              <li class="faq__list--item">
                Character classification based on visual patterns;
              </li>
              <li class="faq__list--item">
                Machine learning: OCR software enhances accuracy through
                training on extensive datasets;
              </li>
              <li class="faq__list--item">
                Neural networks: OCR systems analyze visual attributes of
                characters and make predictions based on identified patterns;
              </li>
              <li class="faq__list--item">
                Natural language processing: Advanced OCR systems use natural
                language processing to understand context.
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="faq__list" data-faq-list>
        <li class="faq__item">
          <div class="faq__description">
            <h3 class="faq__subtitle title__h3--s">
              What advantages do KYCAID services offer?
            </h3>
            <div class="faq__icon-wrapper">
              <svg class="faq__icon icon-add" width="24" height="24">
                <use href="/assets/svg/sprite.svg#icon-add"></use>
              </svg>
            </div>
          </div>
          <div class="faq__content">
            <p class="text">
              Our software solutions are developed with a full understanding of
              business goals and tasks in hand, guaranteeing:
            </p>
            <ul class="faq__list--content flex--col">
              <li class="faq__list--item">
                Document processing is free from the risks of data leaks, fines,
                disqualifications, and legal liabilities within the security
                framework of IT infrastructure.
              </li>
              <li class="faq__list--item">
                Reduction of workload on personnel through automation.
              </li>
              <li class="faq__list--item">Deep understanding of reporting.</li>
              <li class="faq__list--item">
                Enhancement of service quality through fast verification
                procedures.
              </li>
              <li class="faq__list--item">
                Ability to automatically obtain consumer data with subsequent
                integration into corporate systems.
              </li>
            </ul>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__description">
            <h3 class="faq__subtitle title__h3--s">
              How accurate is the OCR technology?
            </h3>
            <div class="faq__icon-wrapper">
              <svg class="faq__icon icon-add" width="24" height="24">
                <use href="/assets/svg/sprite.svg#icon-add"></use>
              </svg>
            </div>
          </div>
          <div class="faq__content">
            <p class="faq__text text">
              The accuracy of OCR technology can vary based on the quality of
              the document, clarity of text, and the OCR software being used. In
              modern OCR solutions, accuracy is continually improving, and they
              often support various fonts, languages, and writing styles.
              However, it's crucial to choose a reliable OCR solution that can
              handle diverse documents and provide accuracy even in challenging
              scenarios.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<script>
  import "@clientJS/ocr/faq";
</script>
