<section data-section="section" class="use-cases container section flex--col">
  <h2 class="title--subtitle">Features and Capabilities</h2>
  <p class="text">
    OCR system greatly enhances data verification from KYC forms, reducing
    sanction risks. It automatically checks ID documents, detects any
    alterations, and ensures image integrity with top-notch security and
    accuracy.
  </p>

  <ul class="use-cases__list-color" data-section="section">
    <li class="use-cases__item-color card-related">
      <a href="#" class="card-related__link">
        <div class="card-related__description">
          <h3 class="card-related__title title__h3--m">Cloud-based OCR</h3>
          <p class="card-related__text">
            Our conveyor-like recognition system minimizes downtime and
            maximizes CPU and GPU efficiency while utilizing cloud technologies
            like Google Cloud Vision for swift and secure data extraction and
            storage.
          </p>
        </div>
        <!-- <div class="card-related__icon-wrapper"></div> -->
      </a>
    </li>
    <li class="use-cases__item-color card-related">
      <a href="#" class="card-related__link">
        <div class="card-related__description">
          <h3 class="card-related__title title__h3--m">
            Data validation Visual Zone
          </h3>
          <p class="card-related__text">
            KYCAID employs OCR, barcodes, MRZ, and RFID for swift, accurate
            results. Review details, detect changes, and use CNN for precise
            character recognition from images.
          </p>
        </div>
        <!-- <div class="card-related__icon-wrapper"></div> -->
      </a>
    </li>
  </ul>
</section>
