<section class="hero">
  <div class="hero__container container">
    <div class="hero__description">
      <h1 class="hero__title title__h1--m">
        <span class="hero__title-accent title-accent">OCR Screening</span>
        Solutions from KYCAID
      </h1>
      <p class="hero__text">
        Power up your KYC compliance with KYCAID: the ultimate OCR screening
        solution for businesses. KYCAID specializes in developing high-quality
        OCR solutions for businesses with no equals in speed and accuracy. Get
        an efficient tool to enhance your Know Your Customer (KYC) processes
        through automated document scanning, data extraction, transformation,
        and verification!
      </p>
      <a class="hero__link link-btn-primary" href="#">
        <span class="link-title"> Book a demo</span>
        <svg class="link-icon icon-arrow-east" width="18" height="18">
          <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
        </svg>
      </a>
    </div>
    <!-- <video
      class="hero__video"
      width="293"
      height="399"
      autoplay
      loop
      muted
      playsinline
    >
      <source
        src="/assets/pages/id_verification/hero-video.webm"
        type="video/webm"
      />
      <source
        src="/assets/pages/id_verification/hero-video.mp4"
        type="video/mp4"
      />
      <p>Your browser doesn't support HTML video. Here is a</p>
    </video> -->
  </div>
</section>
