<section class="use_cases section container flex--col">
  <h2 class="title--subtitle">Use cases</h2>
  <p class="text">
    We offer a wide range of services, including global KYC solutions,
    intelligent document processing, AML verification, and more. Our main goal
    is to give businesses a simple and effective way to manage KYC processes.
  </p>
  <ul class="grid">
    <li data-section="section" class="grid__item">
      <h3 class="item__title title--subtitle">In-house KYC departments</h3>
      <p class="text">
        Turn around your in-house KYC solution with our forefront OCR technology
        that converts images into editable and searchable content. Focusing on
        precise data extraction and multilingual support, our advanced
        algorithms optimize KYC processes while ensuring compliance with AML
        regulations.
      </p>
    </li>
    <li data-section="section" class="grid__item crm__systems">
      <h3 class="item__title title--subtitle">CRM systems</h3>
      <p class="text">
        Pave the way for a swift digital transformation of your CRM by
        implementing advanced tech such as AI and OCR. Deep learning, natural
        language processing, and computer vision will enhance accurate and
        complete data collection and analysis.
      </p>
      <picture id="mobile_app">
        <source
          srcset="/assets/pages/ocr/mobile_app@1x.jpg"
          media="(min-width: 1024px)"
          width="678"
          height="349"
        />

        <img
          src="/assets/pages/ocr/mobile_app_mob.jpg"
          alt="Mobile App"
          width="295"
          height="102"
        />
      </picture>
    </li>
    <li data-section="section" class="grid__item bank">
      <h3 class="item__title title--subtitle">Banks</h3>
      <p class="text">
        Financial institutions have to process millions of customer documents
        each year. OCR helps extract and convert data into digital formats,
        boosting overall operational speed. With our solutions, banks can
        quickly scan customer data from PDF documents, convert them, and make
        them searchable. Automation allows you to optimize KYC compliance
        procedures across the board.
      </p>
    </li>
    <li data-section="section" class="grid__item providers">
      <h3 class="item__title title--subtitle">KYC providers</h3>
      <p class="text">
        OCR and ML-based (Machine Learning) tools automate identity
        verification, simplifying KYC. Extracting data from IDs like driver's
        licenses or passports, they verify against databases, using profiles for
        streamlined, automatic checks across various databases and watchlists.
      </p>
      <picture id="user">
        <source
          srcset="/assets/pages/ocr/use_cases.jpg"
          media="(min-width: 1024px)"
          width="678"
          height="176"
        />

        <img
          src="/assets/pages/ocr/use_cases_mob.png"
          alt="User verification flow"
          width="295"
          height="297"
        />
      </picture>
    </li>
    <li data-section="section" class="grid__item">
      <h3 class="item__title title--subtitle">Travel agencies</h3>
      <p class="text">
        Refine the processing of legal documents and hasten verification of IDs,
        passports, insurance policies, etc. Our AI-driven solutions improve
        automatic algorithms by reducing inaccuracies and the risks of
        human-factor errors.
      </p>
    </li>
  </ul>
</section>
