---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "@components/pages/id-verification/Hero.astro";
import TrustedPartners from "@components/pages/id-verification/TrustedPartners.astro";
import SwiftIDVerificationCheck from "@components/pages/id-verification/SwiftIDVerificationCheck.astro";
import ProductsFeatures from "@components/pages/id-verification/ProductsFeatures.astro";
import UseCases from "@components/pages/id-verification/UseCases.astro";
import Support from "@components/pages/id-verification/Support.astro";
---

<BaseLayout>
  <Hero />
  <TrustedPartners />
  <SwiftIDVerificationCheck />
  <ProductsFeatures />
  <UseCases />
  <Support />
</BaseLayout>

<style is:global>
  main {
    background-color: #f6f6f8;
  }

  .section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: clamp(24px, 5vw, 72px);
    padding-bottom: clamp(24px, 5vw, 72px);
  }
</style>
