---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/pages/index/Hero.astro";
import TrustedCompanies from "../components/pages/index/TrustedCompanies.astro";
import SoftwareSolutions from "../components/pages/index/SoftwareSolutions.astro";
import GovernmentChecks from "../components/pages/index/GovernmentChecks.astro";
import FaceVerefication from "../components/pages/index/FaceVerefication.astro";
import FairKycCheck from "../components/pages/index/FairKycCheck.astro";
import Provider from "../components/pages/index/Provider.astro";
import TryKyc from "../components/pages/index/TryKyc.astro";
import HowCheckWorks from "../components/pages/index/HowCheckWorks.astro";
import Simplified from "../components/pages/index/Simplified.astro";
import ContactUs from "../components/pages/index/modal/ContactUs.astro";
import ContactSuccess from "../components/pages/index/modal/ContactSuccess.astro";
import "../styles/indexPage.scss";
---

<BaseLayout>
  <Hero />
  <TrustedCompanies />
  <SoftwareSolutions />
  <GovernmentChecks />
  <FaceVerefication />
  <FairKycCheck />
  <Provider />
  <TryKyc />
  <HowCheckWorks />
  <Simplified />
  <div class="backdrop is-hidden" data-backdrop>
    <ContactUs />
    <ContactSuccess />
  </div>
</BaseLayout>

<script>
  import "../js/gsap.js";
  import "../js/splide.js";
  import "../js/hero/heroAnimation.js";
  import "../js/government-checks/lottieAnimation.js";
  import "../js/modal/modal.js";
</script>
