---
import BaseLayout from "../layouts/BaseLayout.astro";
import "@styles/kyb/_global_kyb.scss";
import Hero from "../components/pages/kyb/Hero.astro";
import Steps from "../components/pages/kyb/Steps.astro";
import Industries from "../components/pages/kyb/Industries.astro";
import Kyb from "../components/pages/kyb/Kyb.astro";

// -------- Meta Data --------
const title = "Know Your Business Compliance Service - KYB From KYCAID.com";
const description = "Know Your Business (KYB) Compliance Service ✓ Best-in-Class Fraud Detection ✓ Increase Conversion Rates ✓ Be verified with KYCAID.COM";
---

<BaseLayout title={title} description={description}>
  <Hero/>
  <Steps/>
  <Industries/>
  <Kyb/>
</BaseLayout>
