---
import BaseLayout from "../layouts/BaseLayout.astro";
import "@styles/kyc-law-firms/_global-kyc-law-firms.scss";
import Hero from "../components/pages/kyc-law-firms/Hero.astro";
import Legal from "../components/pages/kyc-law-firms/Legal.astro";
import Checks from "../components/pages/kyc-law-firms/Checks.astro";
import Compliance from "../components/pages/kyc-law-firms/Compliance.astro";
import Practices from "../components/pages/kyc-law-firms/Practices.astro";
import Money from "../components/pages/kyc-law-firms/Money.astro";
import Solution from "../components/pages/kyc-law-firms/Solution.astro";

// -------- Meta Data --------
const title = "Law Firms KYC - AML&KYC For Legal Industry - KYCAID";
const description = "KYC & Identity Verification For Law Firms⚡️ Best-in-Class Fraud Detection ⚡️ Increase Conversion Rates ⚡️ Be verified with KYCAID.COM";
---

<BaseLayout title={title} description={description}>
  <Hero/>
  <Checks/>
  <Compliance/>
  <Practices/>
  <Money/>
  <Solution/>
  <Legal/>
</BaseLayout>
