---
import BaseLayout from "../layouts/BaseLayout.astro";
import "@styles/liveness-check/_global_livenesscheck.scss";
import Hero from "@components/pages/liveness-check/Hero.astro";
import UseCases from "../components/pages/liveness-check/UseCases.astro";
import ProductsFeatures from "../components/pages/liveness-check/ProductsFeatures.astro";
import Faq from "../components/pages/liveness-check/Faq.astro";

// -------- Meta Data --------
const title = "Customer Liveness Check - KYCAID.com";
const description =
  "Liveness Check ✓ Realtime Verification System ✓ Ready-to-Set Integration ✓ Be verified with KYCAID.COM";
---

<BaseLayout title={title} description={description}>
  <Hero />
  <UseCases />
  <ProductsFeatures />
  <Faq />
</BaseLayout>
