---
import Hero from "@components/pages/non-doc/Hero/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Simplify from "@components/pages/non-doc/Simplify/Simplify.astro";
import ComplianceAssurance from "@components/pages/non-doc/ComplianceAssurance/ComplianceAssurance.astro";
import SimpleSteps from "@components/pages/non-doc/SimpleSteps/SimpleSteps.astro";
import WhyKyc from "@components/pages/non-doc/WhyKyc/WhyKyc.astro";
import Establish from "@components/pages/non-doc/Establish/Establish.astro";
import ElevateTrust from "@components/pages/non-doc/ElevateTrust/ElevateTrust.astro";

const title = "Non-Doc Verification <br /> Swift Onboarding";
const subTitle1 =
  "Experience swift and user-friendly identity verification in just two easy steps with our advanced non-document service.";
const subTitle2 =
  "Our customizable solutions boost security, operational efficiency, and customer trust by eliminating the need for physical documents.";
---

<BaseLayout>
  <Hero title={title} subTitle1={subTitle1} subTitle2={subTitle2} />
  <Simplify />
  <!-- <ComplianceAssurance /> -->
  <SimpleSteps />
  <WhyKyc />
  <Establish />
  <ElevateTrust />
</BaseLayout>
