---
import Hero from "@components/pages/sanctions-pep-screening@OCR/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import Features from "@components/pages/sanctions-pep-screening@OCR/Features.astro";
import SoftwareSolutions from "@components/pages/sanctions-pep-screening@OCR/SoftwareSolutions.astro";
import UseCases from "@components/pages/sanctions-pep-screening@OCR/UseCases.astro";
import AuthenticationApi from "@components/pages/sanctions-pep-screening@OCR/Authentication_api.astro";
import Faq from "@components/pages/sanctions-pep-screening@OCR/Faq.astro";
import HowOCRWorks from "@components/pages/sanctions-pep-screening@OCR/HowOCRWorks.astro";

import "@styles/ocr/api.scss";
import "@styles/ocr/faq.scss";
import "@styles/ocr/features.scss";
import "@styles/ocr/hero.scss";
import "@styles/ocr/products_features.scss";
import "@styles/ocr/software-solutions.scss";
import "@styles/ocr/use_cases.scss";
import "@styles/ocr/howOCRworks.scss";


---

<BaseLayout>
  <Hero />
  <HowOCRWorks />
  <Features />
  <SoftwareSolutions />
  <UseCases />
  <AuthenticationApi />
  <Faq />
</BaseLayout>

<script>
  import "@clientJS/ocr/splider";
  import "@clientJS/ocr/faq";
</script>
