---
import "./style.scss";
---

<section data-section="section" class="simplify section container flex">
  <h1 class="simplify__title">
    Simplify <br />the user journey
    <svg class="simplify__stars" width="78" height="56">
      <use href="../../../../assets/svg/sprite.svg#icon-stars"> </use>
    </svg>
  </h1>

  <p class="simplify__text">
    Conduct remote customer verifications utilizing official government
    databases. Experience a digital adventure with electronic verification,
    immediate results, and heightened accuracy.
  </p>
</section>
