@use "../../../../styles/vars";

.simplify {
  margin: 0 auto;
  flex-direction: column;
  padding-top: 112px;
  padding-bottom: 112px;
  // gap: 112px;
  &__title {
    position: relative;
    font-family: "Anek Bangla Variable";
    max-width: 343px;
    margin-bottom: 16px;
    // line-height: 52.8px;
  }
  &__stars {
    position: absolute;

    top: -10px;
    right: 36px;
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .simplify {
    flex-direction: row;
    padding-top: 168px;
    padding-bottom: 168px;
    gap: 112px;
    &__title {
      position: relative;
      font-family: "Anek Bangla Variable";
      min-width: 330px;
      line-height: 52.8px;
    }
    &__stars {
      position: absolute;

      top: 0px;
      right: -36px;
    }
  }
}
