---
import Globe from "../Globe/Globe.astro";
import "./style.scss";
---

<section data-section="section0" class="complianse-assurance container">
  <div class="complianse-assurance__description">
    <h1 class="title">Compliance assurance</h1>
    <p class="text">
      Stay compliant worldwide with secure government database checks, ensuring
      full compliance in every region. KYCAID's robust verification processes
      uphold regulatory standards, providing confidence in user verification.
    </p>
    <label class="country__label" for="country">Choose a country</label>
    <div class="country__select" data-select-cuntry></div>
  </div>
  <Globe />
</section>
