@use "../../../../styles/vars";

.complianse-assurance {
  background-color: #e5e6e6;
  border-radius: 32px;
  padding: 24px;

  &.container {
    background-color: #e5e6e6;
  }
  &__description {
    display: flex;
    flex-direction: column;
    .title {
      // width: 100%;
      font-size: 44px;
      line-height: 52.8px;
    }
    .text {
      // width: 100%;
    }
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .complianse-assurance {
    padding: 112px 72px;
    display: flex;
    justify-content: space-between;
    background-color: #e5e6e6;
    border-radius: 32px;
    .container {
      background-color: #e5e6e6;
    }
    &__description {
      flex: 1 0 auto;
      width: 518px;
      display: flex;
      // flex-direction: column;
      .title {
        margin-bottom: 24px;
      }
      .text {
        font-size: 22px;
        margin-bottom: 32px;
      }
      .country__label {
        font-size: 16px;
      }
    }
  }
}
