@use "../vars";

.kyb {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    gap: 24px;
  }
}

.api {
  padding: 24px;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 48px;
  max-height: 579px;

  overflow: hidden;

  border-radius: 24px;
  background: radial-gradient(
      57.68% 57.68% at 51.04% 88.77%,
      rgba(0, 102, 255, 0.6) 0%,
      rgba(16, 16, 16, 0) 100%
    ),
    #111;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__break {
    display: none;
  }

  &__title {
    color: #fff;
  }

  &__text {
    color: #fff;
  }

  &__btn {
    margin-top: 16px;
    align-self: start;
  }

  &__img {
    width: 100%;
  }
}

.verification {
  padding: 24px;
  min-height: 388px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 16px;

  border-radius: 24px;
  background: vars.$cta-color;
  background-image: url("/assets/pages/kyb/kyb/bg-mob.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;

  &__title {
    color: #fff;
  }

  &__text {
    color: #fff;
  }

  &__btn {
    margin-top: 16px;
    color: #111;
    border: 2px solid transparent;
    background-color: #d2fa57;

    .link-icon {
      fill: #111;
    }
    &:hover {
      background-color: #ebffda;
      border: 2px solid #d2fa57;
    }
  }
}

@media screen and (min-width: 740px) {
  .kyb {
    &__container {
      flex-direction: row;
    }
  }
  .api {
    max-width: 61.5%;
    &__break {
      display: block;
    }
  }
  .verification {
    max-width: 38.5%;
    background-image: url("/assets/pages/kyb/kyb/bg.svg");
    background-position: center bottom;
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .api {
    padding: 56px;
    padding-bottom: 0;
    gap: 72px;
    max-height: 659px;
  }
  .verification {
    padding: 56px;
  }
}
