@use "../vars";

.support {
  &.section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  row-gap: 24px;
  align-items: center;
  height: 300%;
  .title--subtitle {
    color: #0d0d0d;
    align-self: flex-start;
    max-width: 690px;
  }
  .text {
    // max-width: 821px;
  }

  .grid {
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, auto));

    justify-items: center;
    align-items: stretch;
    border-top: 1px solid vars.$color--accent;
    border-right: 1px solid vars.$color--accent;

    &__item {
      ul {
        // margin-left: 25px;
        // padding-left: 35px;
        row-gap: 12px;
        height: 50%;
      }
      padding: 24px;
      width: 100%;
      height: 100%;
      border-left: 1px solid vars.$color--accent;
      border-bottom: 1px solid vars.$color--accent;

      &:last-child {
        grid-column: span 1;
        justify-self: stretch;
        width: 100%;
        height: 100%;
        align-self: center;
        .title--subtitle {
          max-width: 342px;
          font-size: 18px;
          font-weight: 400;
          // font-weight: 700;
          line-height: 28.6px;
          margin-bottom: 16px;
        }
      }
    }
    .item {
      &__star {
        list-style-image: image-set("/assets/pages/id_verification/star.svg");
        list-style-position: outside;
        font-size: 16px;
        // margin-left: 32px;
        padding-left: 3px;
        margin-left: 25px;
      }
      &__title {
        text-align: left;
        font-size: 18px;
        margin-bottom: 16px;
      }
    }
  }
  @media screen and (min-width: 656px) {
    &.section {
      padding-top: 72px;
      padding-bottom: 112px;
      & > .title--subtitle {
        text-align: center;
      }
    }

    row-gap: 32px;
    .title--subtitle {
      align-self: center;
    }
    .text {
      font-size: 22px;
      align-self: center;
      text-align: center;
      width: auto;
      // background-color: red;
    }
    .grid {
      grid-template-rows: 1fr 157px auto;
      grid-template-rows: 190px 157px 124px;

      &__item {
        padding: 32px;
        .title--subtitle {
          // font-size: 22px;
        }
        &:last-child {
          grid-column: span 2;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .title--subtitle {
            font-weight: 400;
            font-size: 22px;
            line-height: 28.6px;
            // letter-spacing: 1px;
            font-family: "DM Sans Variable", sans-serif;
            margin: 0;
          }
        }
      }
    }
  }
}
