@use "../vars";

.checks {
  margin-top: 48px;

  &__container {
    padding-left: 8px;
    padding-right: 8px;
  }

  &__wrapper {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    border-radius: 24px;
    border: 1px solid #e5e6e6;
    background-color: #fdfdfd;
  }

  &__title {
    color: vars.$cta-color;
  }
  &__emoji {
    margin-right: 8px;
  }

  &__wrapper-text {
    display: flex;
    flex-direction: column;
    gap: 20.8px;
  }

  &__advantages {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    border-radius: 16px;
    border: 2px solid #e7f0ff;
    background: linear-gradient(270deg, #e7f0ff 0.23%, #b7d4ff 99.78%);
  }

  &__subtitle {
    font-family: "Anek Bangla Variable", sans-serif;
    color: #111;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
  }
}

@media screen and (min-width: 768px) {
  .checks {
    margin-top: 24px;

    &__wrapper {
      padding: 32px;
      gap: 24px;
    }

    &__emoji {
      margin-right: 12px;
    }

    &__advantages {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 28px;
    }

    &__subtitle {
      max-width: calc(100% - 240px);
      font-size: 24px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .checks {
    margin-top: 0;

    &__container {
      padding: 56px 0;
    }

    &__wrapper {
      padding: 56px;
      gap: 32px;
    }

    &__emoji {
      margin-right: 16px;
    }

    &__advantages {
      padding: 32px;
    }

    &__subtitle {
      max-width: 792px;
      font-size: 26px;
    }
  }
}
