@use "../vars";

.hero {
  overflow: hidden;
  max-height: 641px;
  border: 1px solid vars.$grey;

  &__container {
    position: relative;
    padding-top: 97px;
    padding-bottom: 28px;
    text-align: center;

    &::before {
      content: url("/assets/svg/ellipse-blue.svg");
      position: absolute;
      right: -179px;
      bottom: -208px;
      z-index: -1;

      width: 500px;
      height: 500px;
      opacity: 1;
    }

    &::after {
      content: url("/assets/svg/ellipse-yellow.svg");
      position: absolute;
      left: -82px;
      bottom: 10px;
      z-index: -1;

      width: 297px;
      height: 297px;
      opacity: 1;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &__subtitle {
    font-family: vars.$font-family-text;
    color: vars.$cta-color;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    white-space: nowrap;

    animation: hero-subtitle 1200ms 1600ms both;

    @keyframes hero-subtitle {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }

  &__title {
    animation: title 1000ms ease 0s 1 normal backwards running;

    @keyframes title {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }

  &__text {
    letter-spacing: 0.3px;
    animation: hero-text 1200ms ease 400ms 1 normal backwards running;

    @keyframes hero-text {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }

  &__list {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    align-self: stretch;
    animation: hero-btn 1200ms ease 800ms 1 normal backwards running;

    @keyframes hero-btn {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }

  &__dashboard-container {
    position: relative;
    margin-top: 32px;
    perspective: 2000px;
  }
}

.dashboard {
  position: relative;
  overflow: hidden;

  display: flex;
  width: 100%;
  max-height: calc((100vw - 32px) / 1.78);

  border-radius: 5.711px;
  border: 0.331px solid #e2e2e2;
  background: #f6f6f6;

  transform: rotateX(25deg) scale(0.9);

  &__menu-img {
    opacity: 0;
  }

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__content {
    width: 100%;
    padding: 5.84px;
    flex: 1;
    overflow-y: auto;
  }

  &__main-img {
    opacity: 0;
    width: 100%;
    object-fit: cover;
  }
}

// ----------------------------- Animation -----------------------------------

.skeleton-menu-left {
  background-repeat: no-repeat;
  background-image: url("assets/hero/skeleton/menu-left-skeleton@2x.png");
  background-size: cover;
  opacity: 0.6;

  animation: skeleton-loading 1s ease-in-out infinite alternate;

  @keyframes skeleton-loading {
    0% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
}

.skeleton-header {
  background-repeat: no-repeat;
  background-image: url("assets/hero/skeleton/dashboard-header-skeleton@2x.png");
  background-size: cover;
  opacity: 0.6;

  animation: skeleton-loading 1s ease-in-out infinite alternate;
}

.skeleton-upgrade {
  background-repeat: no-repeat;
  background-image: url("assets/hero/skeleton/upgrade-skeleton@2x.png");
  background-size: cover;
  opacity: 0.6;

  animation: skeleton-loading 1s ease-in-out infinite alternate;
}

.skeleton-content {
  background-repeat: no-repeat;
  background-image: url("assets/hero/skeleton/main-skeleton@2x.png");
  background-size: cover;
  opacity: 0.6;

  animation: skeleton-loading 1s ease-in-out infinite alternate;
}

.dashboard .horizontal-animation {
  position: absolute;
  z-index: 2;
  top: -0.331px;
  left: 5px;
  width: 80px;
  height: 1px;

  border-radius: 2px;
  background: linear-gradient(
    to left,
    #9d9bf2 0.43%,
    #7877c6 14.11%,
    rgba(120, 119, 198, 0) 62.95%
  );
  opacity: 0;

  animation: run-hero-horizontal 2s ease-out 3s infinite;
  animation-fill-mode: forwards;

  &--slow {
    left: 10px;
    animation: run-hero-horizontal 5s ease-out 10s infinite;
    animation-fill-mode: forwards;
  }

  &--fast {
    animation: run-hero-horizontal 4s ease-out 5s infinite;
    animation-fill-mode: forwards;
  }

  @keyframes run-hero-horizontal {
    0% {
      opacity: 0;
      transform: translateX(0);
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(800px);
    }
  }
}

.dashboard .vertical-animation {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: -0.331px;
  width: 1px;
  height: 80px;

  border-radius: 2px;
  background: linear-gradient(
    to top,
    #9d9bf2 0.43%,
    #7877c6 14.11%,
    rgba(120, 119, 198, 0) 62.95%
  );

  opacity: 0;

  animation: run-hero-vertical 2s ease-out 4s infinite;
  animation-fill-mode: forwards;

  &--slow {
    top: 10px;
    animation: run-hero-vertical 5s ease-out 11s infinite;
    animation-fill-mode: forwards;
  }

  &--fast {
    animation: run-hero-vertical 4s ease-out 6s infinite;
    animation-fill-mode: forwards;
  }

  @keyframes run-hero-vertical {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(300px);
    }
  }
}

@media screen and (min-width: vars.$screen-mob) {
  .hero {
    &__list {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .hero {
    max-height: fit-content;
    &__container {
      &::before {
        width: 752px;
        height: 752px;
        right: -203px;
        bottom: -220.312px;
        border-radius: 752px;
      }

      &::after {
        width: 430px;
        height: 430px;
        left: -218px;
        bottom: 230.688px;
        border-radius: 430px;
      }
    }

    &__subtitle {
      font-size: 16px;
    }

    &__text {
      letter-spacing: 0px;
    }
  }

  .dashboard {
    border-radius: 24px;
    border-width: 1px;
    &__content {
      padding: 11.47px;
    }
  }

  // -------------------- Animation --------------------
  .dashboard .horizontal-animation {
    top: 0;
  }

  .dashboard .vertical-animation {
    right: 0;
  }
}

@media screen and (min-width: vars.$screen-lt) {
  .hero {
    &__container {
      &::before {
        right: -203px;
        bottom: -220.312px;
      }

      &::after {
        left: -218px;
        bottom: 348.688px;
      }
    }

    &__list {
      gap: 32px;
    }
  }

  .dashboard {
    height: 578px;
    max-width: 1026px;
    margin: 0 auto;

    &__content {
      padding: 17.1px;
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .hero {
    &__container {
      padding-top: 156px;
      padding-bottom: 56px;

      &::before {
        right: -183px;
        bottom: -235.312px;
      }

      &::after {
        left: -100px;
        bottom: 404.688px;
      }
    }

    &__description {
      gap: 32px;
    }

    &__dashboard-container {
      margin-top: 90px;
      padding-left: 111px;
      padding-right: 111px;
    }
  }
}
