@use "../vars";

.provider {
  margin-top: 48px;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: vars.$screen-tab) {
  .provider {
    margin-top: 24px;
    &__container {
      padding-top: 32px;
      padding-bottom: 32px;
      flex-direction: row-reverse;
      align-items: center;
      gap: 36px;
    }

    &__image {
      min-width: 343px;
    }
  }
}

@media screen and (min-width: vars.$screen-dt) {
  .provider {
    margin-top: 0;

    &__container {
      padding-top: 56px;
      padding-bottom: 56px;
      gap: 72px;
    }

    &__description {
      gap: 32px;
    }

    &__image {
      min-width: 520px;
      min-height: 520px;
    }
  }
}
