---
import "../../../styles/kyb/_industries.scss";
---

<section class="industries section">
  <div class="container">
    <h2 class="industries__title title--subtitle">Know Your Business for Industries</h2>
    <ul class="industries__list">
      <li class="industries__item card" data-section="section">
        <div class="card__icon-wrapper">
          <svg
                  class="card__icon icon-bank"
                  width="28"
                  height="28"
          >
            <use href="/assets/svg/sprite.svg#icon-bank"></use>
          </svg>
        </div>
        <h3 class="card__title title__h3--xs">KYB For Banks</h3>
        <p class="card__text text">
          KYB for banks is a proactive approach to risk management, ensuring that the bank's business relationships are transparent, legitimate. It plays a vital role in safeguarding the financial system from illicit activities and promoting trust in financial transactions.
        </p>
      </li>
      <li class="industries__item card" data-section="section">
        <div class="card__icon-wrapper">
          <svg
                  class="card__icon icon-legal-document"
                  width="28"
                  height="28"
          >
            <use href="/assets/svg/sprite.svg#icon-legal-document"></use>
          </svg>
        </div>
        <h3 class="card__title title__h3--xs">KYB For Insurance Companies</h3>
        <p class="card__text text">
          Insurance KYB is vital for risk mitigation, regulatory compliance, and industry integrity. It requires understanding businesses seeking coverage, ongoing monitoring, and adapting to evolving risks and regulations.
        </p>
      </li>
      <li class="industries__item card" data-section="section">
        <div class="card__icon-wrapper">
          <svg
                  class="card__icon icon-judgment"
                  width="28"
                  height="28"
          >
            <use href="/assets/svg/sprite.svg#icon-judgment"></use>
          </svg>
        </div>
        <h3 class="card__title title__h3--xs">KYB For Legal Sector</h3>
        <p class="card__text text">
          Legal KYB is crucial for firms to manage risks, ensure compliance, and uphold professionalism and ethics in engagements. It requires understanding clients' legal context, ongoing monitoring, and strict adherence to regulations.
        </p>
      </li>
    </ul>
  </div>
</section>
