---
import "../../../styles/kyb/_kyb.scss";
import EditorDes from "@assets/pages/kyb/kyb/editor-des@2x.png";
import EditorMob from "@assets/pages/kyb/kyb/editor-mob@2x.png";
import PictureCustom from "@components/utils/PictureCustom.astro";
---

<section class="kyb section">
  <div class="kyb__container container">
    <div class="api" data-section="section">
      <div class="api__header">
        <h2 class="api__title title__h3--m">
          KYCAID's KYB API Integration<br class="api__break" /> for Streamlined Identity
          Solutions
        </h2>
        <p class="api__text">
          Streamline your processes, enhance compliance, and access cutting-edge
          identity verification solutions tailored to your business needs. Apply
          now for transformative KYB solutions through API integration.
        </p>
        <button class="api__btn link-btn-primary">
          Try our solutions
          <svg class="link-icon icon-arrow-east" width="18" height="18">
            <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
          </svg>
        </button>
      </div>
      <div class="api__editor">
        <div>
          <PictureCustom
            mobileImgUrl={EditorMob}
            desktopImgUrl={EditorDes}
            alt="test"
            
          />
          <!-- TEST -->
          <!-- <source
            media="
          (min-width:
          431px)"
            srcset="
              /assets/pages/kyb/kyb/editor-des@1x.png 1x,
              /assets/pages/kyb/kyb/editor-des@2x.png 2x
            "
          />
          <img
            class="api__img"
            src="/assets/pages/kyb/kyb/editor-mob@1x.png"
            alt="editor code"
            srcset="/assets/pages/kyb/kyb/editor-mob@2x.png 2x"
            width="295"
            height="336"
          /> -->
        </div>
      </div>
    </div>
    <div class="verification" data-section="section">
      <h2 class="verification__title title__h3--m">
        Enhanced KYB Verification & Compliance
      </h2>
      <p class="verification__text">
        Compliance through the Know Your Business system is a time-consuming
        process. It needs to be performed throughout the entire cooperation for
        AML adherence. Possible changes in the company require attention that is
        why the check needs to be repeated.
      </p>
      <button class="verification__btn link-btn-primary">
        Book a demo
        <svg class="link-icon icon-arrow-east" width="18" height="18">
          <use href="/assets/svg/sprite.svg#icon-arrow-east"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
